<div class="container">
	<h2>{{competitionID}} Results - Stableford</h2>
	<img id="myspinner" src="./images/spinner.gif" ng-show="loading"/>
	<div class="row" ng-hide="loading">
		<a href="#/addResult/{{competitionID}}">Add Result</a>
		<a href="#/editResults/{{competitionID}}">Edit Results</a>
	</div>
	<div class="row" ng-hide="loading">
		<div class="col-md-6">
			<h2>Division 1</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Player</td>
						<td>Points</td>
						<td>NR</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in results | lowHcp | orderBy:'-GrossScore' | orderBy:'NR' | startFrom:currentPage*pageSize | limitTo:pageSize ">
						<td><a href="#result/{{result.ID}}/edit">{{result.LastName | uppercase}}, {{result.FirstName}} ({{result.Handicap}})</a></td>
						<td>{{result.GrossScore}}</td>
						<td><input type="checkbox" ng-model="result.NR" ng-true-value="'true'" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h2>Division 2</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Player</td>
						<td>Points</td>
						<td>NR</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in results | highHcp | orderBy:'-GrossScore' | orderBy:'NR' | startFrom:currentPage*pageSize | limitTo:pageSize ">
						<td><a href="#result/{{result.ID}}/edit">{{result.LastName | uppercase}}, {{result.FirstName}} ({{result.Handicap}})</a></td>
						<td>{{result.GrossScore}}</td>
						<td><input type="checkbox" ng-model="result.NR" ng-true-value="'true'" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	Page {{currentPage+1}} of {{numberOfPages()}}
</div>