<h2>Add new result</h2>
<hr />
{{message}}  {{selected}}
<form role="form" ng-submit="addResult()">
	<div class="row">
		<div class="input-group">
			<input type="text" ng-model="newResult.CompID" placeholder="{{competitionID}}" class="form-control" disabled />
		</div>
	</div>
	<div class="row">
		<div class="input-group">
			<angucomplete-alt id="ex1" class="form-control" ng-model="searchPlayer"
              placeholder="Search for player"
              pause="100"
              selected-object="selectedLastname"
              local-data="members"
              search-fields="name"
              title-field="name"
			  description-field="handicap"
              minlength="1"
              input-class="form-control form-control-small" />
		</div>
	</div>
	<div class="row">
		<div class="input-group">
			<input type="text" ng-model="FirstName" placeholder="First Name" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="input-group">
			<input type="text" ng-model="LastName" placeholder="Last Name" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="input-group">
			<input type="type" ng-model="Handicap" placeholder="Handicap" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="input-group">
			<input type="type" ng-model="GrossScore" placeholder="Gross Score/Points" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="input-group">
			<input type="type" ng-model="NettScore" placeholder="Net Score" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="input-group">
			<input type="type" ng-model="Rank" placeholder="Rank" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="input-group">
			<label>NR'd?
			<input type="checkbox" ng-model="NR" class="form-control"/>
			</label>
		</div>
	</div>
	<div class="row">
		<div class="input-group">
			<span class="input-group-button">
			<button type="submit" class="btn btn-primary">{{submitbtn}}</button>
		</span>	
		</div>
	</div>
</form>
<br>

			  
			  
			  