<div class="container">
	<h2>Current Competitions</h2>
	<img id="myspinner" src="./images/spinner.gif" ng-show="loading"/>
	<div ng-hide="loading">
		<button class="btn btn-default" ng-click="go('/competition/new')">Add Competition</button>
	</div>
	<table class="table table-striped" ng-hide="loading">
		<thead>
			<tr>
				<td>ID</td>
				<td>Competition</td>
				<td>Date</td>
				<td>Type</td>
				<td>Category</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="competition in competitions | orderBy:'-EventDate' ">
				<td><a href="#/competition/{{competition.CompType}}/{{competition.CompID}}">{{competition.CompID}}</a></td>
				<td><a href="#/competition/{{competition.CompType}}/{{competition.CompID}}">{{competition.CompName}}</a></td>
				<td>{{competition.EventDate | date:'dd/MM/yyyy'}}</td>
				<td>{{competition.CompType}}</td>
				<td>{{competition.CompCat}}</td>
			</tr>
		</tbody>
	</table>
</div>
