<div class="container">
	<h2>{{competitionID}} Results</h2>
	<img id="myspinner" src="./images/spinner.gif" ng-show="loading"/>
	<div class="row" ng-hide="loading">
		<div class="col-md-12" ng-form name="myResults">
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Entry ID</td>
							<td>Last Name</td>
							<td>First Name</td>
							<td>Handicap</td>
							<td>Gross Score</td>
							<td>Net Score</td>
							<td>Rank</td>
							<td>NR</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="result in results">
							<td>
								<div class="input-group">
									<input type="text" ng-model="result.EntryID" ng-disabled="true" class="form-control" />
								</div>
							</td>
							<td>
								<div class="input-group">
									<input type="text" ng-model="result.LastName" ng-change="result.changed=true" placeholder="Last Name" class="form-control" />
								</div>
							</td>
							<td>
								<div class="input-group">
									<input type="text" ng-model="result.FirstName" ng-change="result.changed=true" placeholder="First Name" class="form-control" />
								</div>
							</td>
							<td>
								<div class="input-group">
									<input type="text" ng-model="result.Handicap" ng-change="result.changed=true" placeholder="Handicap" class="form-control" />
								</div>
							</td>
							<td>
								<div class="input-group">
									<input type="text" ng-model="result.GrossScore" ng-change="result.changed=true" placeholder="Round 1 Score" class="form-control" />
								</div>
							</td>
							<td>
								<div class="input-group">
									<input type="text" ng-model="result.NettScore" ng-change="result.changed=true" placeholder="Round 2 Score" class="form-control" />
								</div>
							</td>
							<td>
								<div class="input-group">
									<input type="text" ng-model="result.Rank" ng-change="result.changed=true" placeholder="Rank" class="form-control" />
								</div>
							</td>
							<td><input type="checkbox" ng-model="result.NR" ng-change="result.changed=true" ng-true-value="'true'" /></td>
							<td>
								<button type="button" ng-click="removeEntry(result.EntryID, $index)" class="btn btn-default btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="btn btn-primary" data-ng-disabled="myResults.$pristine" ng-click="save()">Save Changes</button>
				<br />
				<br />
				<div class="panel panel-default">
			    <div class="panel-heading">Add new result</div>
			    <div class="panel-body">
						<form role="form" name="addScore" ng-submit="addResult()">
							<table>
								<tr>
									<td>
										<div class="input-group">
											<angucomplete-alt id="ex1" ng-model="searchPlayer"
											  placeholder="Search for player"
											  pause="100"
											  selected-object="selectedLastname"
											  local-data="members"
											  search-fields="name"
											  title-field="name"
											  description-field="handicap"
											  minlength="1"
											  input-class="form-control form-control-small" />
										</div>
									</td>
								</tr>
								<tr>								
									<td>
										<div>
											<input type="text" ng-model="FirstName" placeholder="First Name" class="form-control" />
										</div>
									</td>
									<td>
										<div>
											<input type="text" ng-model="LastName" placeholder="Last Name" class="form-control" />
										</div>
									</td>
									<td>
										<div>
											<input type="type" ng-model="Handicap" placeholder="Handicap" class="form-control" />
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div>
											<input type="type" ng-model="GrossScore" placeholder="Gross Score/Points" class="form-control" />
										</div>
									</td>
									<td>
										<div>
											<input type="type" ng-model="NettScore" placeholder="Net Score" class="form-control" />
										</div>
									</td>
									<td>
										<div>
											<input type="type" ng-model="Rank" placeholder="Rank" class="form-control" />
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="input-group">
											NR <input type="checkbox" ng-model="NR" class="form-control" ng-true-value="'true'" />
										</div>
									</td>
									<td>
										<div>
											<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"> Save</span></button>
										</div>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
</div>